[Unit]
Description=Input Controller

[Service]
ExecStart=sudo /usr/bin/python3 -u controller.py
WorkingDirectory=/home/pi/controller
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
